services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile.devcontainer
    ports:
      - '3000:3000'
      - '5173:5173'
    networks:
      - db
    volumes:
      - ..:/app
      - ../client:/app/client
      - /app/client/node_modules
      - ../server:/app/server
      - /app/server/node_modules
    user: "${UID:-0}:${GID:-0}"
    environment:
      - CHOKIDAR_USEPOLLING=true
    
  db:
    container_name: postgres
    image: postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      PGDATA: /data/postgres
      POSTGRES_DB: bank
    volumes:
      - db:/data/postgres
    user: "${UID:-0}:${GID:-0}"
    ports:
      - "5432:5432"
    networks:
      - db
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d postgres" ]
      interval: 30s
      timeout: 10s
      retries: 5

  adminer:
    image: adminer
    container_name: adminer
    restart: unless-stopped
    ports:
      - "8080:8080"
    networks:
      - db
    environment:
      ADMINER_DEFAULT_SERVER: db

networks:
  db:
    driver: bridge

volumes:
  db:
